.container-div {
  width: 400px;
  margin: auto;
  padding: 36px 48px 48px 48px;
  background-color: #f1f1f1;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.login-title {
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  color: #262626;
  margin-top: 20px;
}

.login-form input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
}

.login-form input:focus {
  outline: transparent;
}

.btn--form {
  background-color: #546E7A;
  color: white;
  align-self: end;
  padding: 8px;
  outline: none;
}

.buttn,
.buttn:link,
.buttn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--form:hover {
  background-color: white;
  color: #000;
}